# Dados Censitários

## Fontes de Dados:

ftp://ftp.ibge.gov.br/Censos/Censo_Demografico_2010/Resultados_do_Universo/Agregados_por_Setores_Censitarios/

In [25]:
%matplotlib inline
import pandas as pd
import geopandas as gpd

In [26]:
censo = pd.read_excel('../01.Dados/Censo 2010/RJ/EXCEL/Basico_RJ.xls')

In [27]:
setor = gpd.read_file('../01.Dados/Mapas/RJ-SETOR/RJ-SETOR.shp')

In [28]:
censo.head()

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,330010005000001,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,2.62,1.94,2356.80,5716056.06,2571.06,5684616.94,1565.37,4344465.56,2192.65,4711305.89
1,330010005000002,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,2.51,1.50,2040.47,3020377.79,2236.67,2869054.77,1816.69,20052928.88,2375.67,24942113.99
2,330010005000003,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,3.08,2.19,2687.80,8362007.52,2836.66,8402987.99,1593.37,7250920.66,2294.84,8835722.10
3,330010005000004,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,3.04,3.25,3026.67,24807309.86,3352.62,26410753.99,1865.52,10994097.59,2574.41,13362652.63
4,330010005000005,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,3.34,1.94,1124.82,712447.24,1229.19,649944.69,689.40,583588.50,1028.21,521878.03

In [29]:
setor.head()

,ID1,CD_GEOCODI,TIPO,CD_GEOCODB,NM_BAIRRO,CD_GEOCODD,NM_DISTRIT,CD_GEOCODS,NM_SUBDIST,CD_GEOCODM,NM_MUNICIP,NM_MESO,NM_MICRO,geometry
0,400341,330455705060018,URBANO,330455705004,Caju,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((683.349326221016 7469.17768684979, 6..."
1,400342,330455705060019,URBANO,330455705004,Caju,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((683.3094976400794 7469.213659905473,..."
2,400343,330455705060020,URBANO,330455705004,Caju,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((683.2982913807748 7469.418253547153,..."
3,400344,330455705060021,URBANO,330455705004,Caju,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((683.4782944704702 7469.289246539755,..."
4,400347,330455705060024,URBANO,330455705003,Santo Cristo,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((683.8518253829462 7465.621685850603,..."

### Igualando o tipo de variável

In [30]:
# Identificando o tipo de variável que deseja trabalhar (Cod_Setor)
censo.dtypes

Cod_setor                int64
Cod_Grandes Regiões      int64
Nome_Grande_Regiao      object
Cod_UF                  object
Nome_da_UF              object
Cod_meso                 int64
Nome_da_meso            object
Cod_micro                int64
Nome_da_micro           object
Cod_RM                   int64
Nome_da_RM              object
Cod_municipio            int64
Nome_do_municipio       object
Cod_distrito             int64
Nome_do_distrito        object
Cod_subdistrito          int64
Nome_do_subdistrito     object
Cod_bairro               int64
Nome_do_bairro          object
Situacao_setor           int64
Tipo_setor               int64
V001                   float64
V002                   float64
V003                   float64
V004                   float64
V005                   float64
V006                   float64
V007                   float64
V008                   float64
V009                   float64
V010                   float64
V011                   float64
V012                   float64
dtype: object

In [31]:
# Identificando o tipo da variável (CD_GEOCODI)
setor.dtypes

ID1            int64
CD_GEOCODI    object
TIPO          object
CD_GEOCODB    object
NM_BAIRRO     object
CD_GEOCODD    object
NM_DISTRIT    object
CD_GEOCODS    object
NM_SUBDIST    object
CD_GEOCODM    object
NM_MUNICIP    object
NM_MESO       object
NM_MICRO      object
geometry      object
dtype: object

In [32]:
# Trocando o tipo de variável 
censo['Cod_setor'] = censo['Cod_setor'].astype(str)

In [33]:
censo.dtypes

Cod_setor               object
Cod_Grandes Regiões      int64
Nome_Grande_Regiao      object
Cod_UF                  object
Nome_da_UF              object
Cod_meso                 int64
Nome_da_meso            object
Cod_micro                int64
Nome_da_micro           object
Cod_RM                   int64
Nome_da_RM              object
Cod_municipio            int64
Nome_do_municipio       object
Cod_distrito             int64
Nome_do_distrito        object
Cod_subdistrito          int64
Nome_do_subdistrito     object
Cod_bairro               int64
Nome_do_bairro          object
Situacao_setor           int64
Tipo_setor               int64
V001                   float64
V002                   float64
V003                   float64
V004                   float64
V005                   float64
V006                   float64
V007                   float64
V008                   float64
V009                   float64
V010                   float64
V011                   float64
V012                   float64
dtype: object

In [34]:
print(type(censo))
print(type(setor))

<class 'pandas.core.frame.DataFrame'>
<class 'geopandas.geodataframe.GeoDataFrame'>

In [35]:
setor.shape

(10504, 14)

In [36]:
# Realizando a junção [merge] de DataFrames;
# Reparar que existe uma variável em comum. [lembrar de chave estrangeira em SQL]. No caso do pandas é o 
# right_on e left_on
# how -> Indica que o dataframe da esquerda não pode perder nenhum dado e o da direita junta com o da
# esquerda nos dados condizentes.
setor = pd.merge(setor, censo, left_on = 'CD_GEOCODI', right_on = 'Cod_setor', how = 'left')

In [37]:
setor.shape

(10504, 47)

In [38]:
setor

,ID1,CD_GEOCODI,TIPO,CD_GEOCODB,NM_BAIRRO,CD_GEOCODD,NM_DISTRIT,CD_GEOCODS,NM_SUBDIST,CD_GEOCODM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,400341,330455705060018,URBANO,330455705004,Caju,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,...,2.91,1.77,687.86,607487.37,1162.52,474104.49,468.88,439565.17,993.66,410002.85
1,400342,330455705060019,URBANO,330455705004,Caju,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,...,2.64,2.06,645.95,443290.44,955.47,359529.36,436.96,323403.61,844.44,280771.01
2,400343,330455705060020,URBANO,330455705004,Caju,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,...,2.76,1.72,788.46,532814.72,1042.81,437929.47,536.64,468960.56,971.76,425985.79
3,400344,330455705060021,URBANO,330455705004,Caju,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,...,2.56,2.57,635.00,587850.00,1018.65,551834.99,323.89,379860.88,1008.94,493116.72
4,400347,330455705060024,URBANO,330455705003,Santo Cristo,330455705,RIO DE JANEIRO,330455705,PORTUÁRIA,3304557,...,3.13,2.49,568.02,173698.43,679.01,131792.80,378.96,177655.16,645.64,130200.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10499,411867,330455705390216,URBANO,330455705043,Cordovil,330455705,RIO DE JANEIRO,330455705,VIGÁRIO GERAL,3304557,...,2.65,2.40,828.53,316518.96,871.85,295159.34,585.66,347681.59,825.76,291738.30
10500,411868,330455705390217,URBANO,330455705043,Cordovil,330455705,RIO DE JANEIRO,330455705,VIGÁRIO GERAL,3304557,...,2.93,2.03,570.84,261676.78,765.76,201029.25,550.40,412755.16,827.11,391277.31
10501,411869,330455705390218,URBANO,330455705045,Vigário Geral,330455705,RIO DE JANEIRO,330455705,VIGÁRIO GERAL,3304557,...,3.14,2.38,1072.34,1326129.14,1367.78,1286997.02,684.90,846483.97,1142.61,889406.08
10502,411870,330455705390219,URBANO,330455705045,Vigário Geral,330455705,RIO DE JANEIRO,330455705,VIGÁRIO GERAL,3304557,...,3.12,2.18,1238.66,1277033.16,1343.83,1243817.44,762.23,868698.73,1121.15,875383.10
10503,411871,330455705390220,URBANO,330455705046,Jardim América,330455705,RIO DE JANEIRO,330455705,VIGÁRIO GERAL,3304557,...,3.27,1.63,1003.09,291008.48,1032.81,268769.63,714.11,306109.49,902.15,216792.42

In [39]:
setor.columns

Index(['ID1', 'CD_GEOCODI', 'TIPO', 'CD_GEOCODB', 'NM_BAIRRO', 'CD_GEOCODD',
       'NM_DISTRIT', 'CD_GEOCODS', 'NM_SUBDIST', 'CD_GEOCODM', 'NM_MUNICIP',
       'NM_MESO', 'NM_MICRO', 'geometry', 'Cod_setor', 'Cod_Grandes Regiões',
       'Nome_Grande_Regiao', 'Cod_UF', 'Nome_da_UF ', 'Cod_meso',
       'Nome_da_meso', 'Cod_micro', 'Nome_da_micro', 'Cod_RM', 'Nome_da_RM',
       'Cod_municipio', 'Nome_do_municipio', 'Cod_distrito',
       'Nome_do_distrito', 'Cod_subdistrito', 'Nome_do_subdistrito',
       'Cod_bairro', 'Nome_do_bairro', 'Situacao_setor', 'Tipo_setor', 'V001',
       'V002', 'V003', 'V004', 'V005', 'V006', 'V007', 'V008', 'V009', 'V010',
       'V011', 'V012'],
      dtype='object')

In [40]:
type(setor)

geopandas.geodataframe.GeoDataFrame

In [41]:
setor.crs

{'proj': 'utm',
 'zone': 23,
 'south': True,
 'ellps': 'GRS80',
 'units': 'km',
 'no_defs': True}

### Salvando o GeoDataFrame

In [42]:
setor.to_file('../01.Dados/Mapas/RJ-SETOR/RJ-SETOR.shp')